@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

h1 {
    background-color: #064661;
    font-family: Limelight;
    color: #ffff;
    font-size: 40px;
    padding-left: 72px;
    height: 54px;
    font-weight: 400px;
    padding-top: 42px;
    width: 100%;
    
}

body {
    margin: 0;
    padding: 0;
}
