@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    background-color: #064661;
    font-family: Limelight;
    color: #ffff;
    font-size: 40px;
    padding-left: 72px;
    height: 54px;
    font-weight: normal;
    padding-top: 42px;
    padding-bottom: 42px;
    margin: 0px;
    width: auto;
    
}

.teste2   {
    color: #064661;
    font-size: 36px;
    font-weight: 400px;
    width: 484px;
    height: 54px;
    padding-top: 52px;
    padding-left: 72px;
}

.teste3   {
    color: #064661;
    font-size: 36px;
    font-weight: 400px;
    width: 484px;
    height: 54px;
    padding-top: 52px;
    padding-left: 72px;
}
p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    padding-left: 72px;
    margin-right: 50px;
    justify-content: left;
}

p2 {
    width: 100%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400px;
    padding-left: 72px;
    margin-right: 100px;
    line-height: 30px;
}

body {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img {
    width: 100%;
    margin-top: 0;
    margin: 0;
    padding-top: 0;

}

#topo {
    margin-top: 0;
    margin-bottom: 0;
}

.hero {
  padding-top: 0%;  
  display: flex;
  height: 100%;
}

.text {
  font-size: 18px;  
}

.text p {
    width: 50%;
}

.picons {
    margin: 0%;
    padding: 0%;
}

i {
  font-size: 20px;
  margin: 0%;
  padding: 0%;
}

.image {
  padding-top: 50px;  
  width: 100%;
  margin-right: 50px;
} 


/* cards */
.cards{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    width: 100%;
}

.container{
    width: 100%;
}
#title-cards{
    font-family: Limelight;
    text-align:center;
    align-items: center;
    font-size:36px;
    color:#064661B2; 
    margin-bottom:52px;
    background-color: white;
}

.card-preto{
    background-color: #064661B2;
    width: 357px;
    font-family: Limelight;
    height: 167px;
    text-align: left;
    align-items: left;
    border-radius:10px;
    border-width: 3px;
    border-style: solid;
    border-color: #064661B2;
    
}

.card-branco{
    font-family: Limelight;
    text-align: left;
    align-items: left;
    background-color: #99BEDF;
    width: 357px;
    height: 167px;
    border-radius:10px;
    border-width: 3px;
    border-style:solid;
    border-color:#064661B2;
}

.card-branco h2{       
    font-size: 26px;
    padding-top:20px;
    padding-left:20px;
}

.card-preto p{
    font-size: 26px;
    padding-left:10px;
    color:white;
    font-family: Limelight;
}
 
.card-branco p{
    font-size: 26px;
    padding-left:10px;
    font-family: Limelight;
}

.card-preto h2{
    font-size: 26px;
    padding-top:20px;
    padding-left:20px;
    color:white;
}

.imagens{
    display:flex;
    margin-left:72px;
    text-align: center;
    justify-content: space-between;
    margin-right: 72px;
}    
.imagens img{
    height:300px;
    width: 300px;
    border-radius: 35px;
}

